<!-- BACK -->
<div class="back-btn" (click)="goBack()">
  <mat-icon>arrow_back</mat-icon>
</div>

<div class="page-container">

  <!-- LEFT -->
  <div class="left-panel" [class.shrink]="selectedBookingId">

    <div class="profile-page">

      <!-- USER -->
      <h2 class="section-title">User Profile</h2>

      <div class="user-card">
        <div class="user-avatar">
          {{ authService.getFullName()?.charAt(0) }}
        </div>

        <div class="user-info">
          <p class="name">{{ authService.getFullName() }}</p>
          <p class="email">{{ authService.getEmail() }}</p>
        </div>
      </div>

      <!-- FILTER -->
      <div class="filter-container">

        <!-- ROOM -->
        <mat-form-field appearance="outline">
          <mat-label>Rooms</mat-label>
          <mat-select [(ngModel)]="selectedRooms" multiple (selectionChange)="applyFilter()">
            <mat-select-trigger>
              {{ selectedRooms?.length ? selectedRooms.join(', ') : 'All rooms' }}
            </mat-select-trigger>



            <mat-option *ngFor="let room of rooms" [value]="room">
              {{ room }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- FROM -->
        <mat-form-field appearance="outline">
          <mat-label>From Date</mat-label>
          <input matInput [matDatepicker]="fromPicker"
                 [(ngModel)]="fromDate"
                 (dateChange)="applyFilter()">
          <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
          <mat-datepicker #fromPicker></mat-datepicker>
        </mat-form-field>

        <!-- TO -->
        <mat-form-field appearance="outline">
          <mat-label>To Date</mat-label>
          <input matInput [matDatepicker]="toPicker"
                 [(ngModel)]="toDate"
                 (dateChange)="applyFilter()">
          <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
          <mat-datepicker #toPicker></mat-datepicker>
        </mat-form-field>

        <!-- STATUS -->
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="selectedStatuses" multiple (selectionChange)="applyFilter()">
            <mat-select-trigger>
              {{ selectedStatuses?.length ? selectedStatuses.join(', ') : 'All status' }}
            </mat-select-trigger>



            <mat-option value="Pending">Pending</mat-option>
            <mat-option value="Booked">Booked</mat-option>
            <mat-option value="Cancelled">Cancelled</mat-option>
            <mat-option value="Completed">Completed</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- ACTION -->
        <div class="filter-actions">
          <button mat-raised-button color="warn" (click)="refresh()">Refresh</button>
        </div>

      </div>

      <!-- TABLE -->
      <h2 class="section-title">Booking History</h2>

      <div class="table-container">
        <table>

          <thead>
            <tr>
              <th>Room</th>
              <th>Date</th>
              <th>Time</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let b of paginatedBookings">
              <td>{{ b.meetingRoom?.name }}</td>
              <td>{{ b.startTime | date:'dd/MM/yyyy' }}</td>

              <td>
                {{ b.startTime | date:'HH:mm' }} -
                {{ b.endTime | date:'HH:mm' }}
              </td>

              <td>
                <span class="status" [ngClass]="getStatusClass(b)">
                  {{ getStatusText(b) }}
                </span>
              </td>

              <td class="action-buttons">
                <div class="action-group">

                  <!-- VIEW -->
                  <button mat-icon-button (click)="viewDetail(b.id)">
                    <mat-icon>visibility</mat-icon>
                  </button>

                  <!-- EDIT -->
                  <button *ngIf="b.status === 'Pending'; else emptyEdit"
                          mat-icon-button color="primary"
                          (click)="editBooking(b)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <ng-template #emptyEdit>
                    <span class="icon-placeholder"></span>
                  </ng-template>

                  <!-- DELETE -->
                  <button *ngIf="b.status === 'Booked' || b.status === 'Pending'; else emptyDelete"
                          mat-icon-button color="warn"
                          (click)="cancelBooking(b)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <ng-template #emptyDelete>
                    <span class="icon-placeholder"></span>
                  </ng-template>

                </div>
              </td>
            </tr>
          </tbody>

        </table>

        <!-- PAGINATION -->
      <mat-paginator
  [length]="bookings.length"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPageChange()">
</mat-paginator>
      </div>

    </div>
  </div>

  <!-- RIGHT -->
  <div class="right-panel" *ngIf="selectedBookingId">
    <app-booking-detail
      [bookingId]="selectedBookingId"
      (close)="closeDetail()">
    </app-booking-detail>
  </div>

</div>
