/* PAGE */
.page-container {
  display: flex;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}

/* LEFT / RIGHT */
.left-panel {
  width: 100%;
  transition: 0.3s;
  overflow: auto;
}

.left-panel.shrink {
  width: 70%;
  filter: brightness(0.97);
}

.right-panel {
  width: 30%;
  background: #fafafa;
  border-left: 1px solid #eee;
  overflow: auto;
  animation: slideIn 0.3s ease;
}

/* PROFILE */
.profile-page {
  padding: 20px;
}

.section-title {
  margin-bottom: 15px;
  font-weight: 800;
  color: #5f6ec4;
}

/* USER */
.user-card {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  margin-bottom: 25px;
}

.user-avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #5f6ec4;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.user-info .name {
  font-weight: 600;
}

.user-info .email {
  font-size: 13px;
  color: #777;
}

/* FILTER */
.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  align-items: center;
}

mat-form-field {
  min-width: 180px;
}

.filter-actions {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}
.mat-raised-button {
  transition: all 0.2s ease;
  height: 49px;
  background-color: #ee5178;
  color: #fff;
}
.mat-raised-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
/* TABLE */
.table-container {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #f5f7fb;
}

th, td {
  text-align: center;
  padding: 12px;
}

tr:hover {
  background: #f9fafc;
}

/* STATUS */
.status {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
}

.status-booked { background: #e3e8ff; color: #3f51b5; }
.status-ongoing { background: #e6f7ee; color: #28a745; }
.status-pending { background: #fff4e5; color: #9e5f00; }
.status-cancelled { background: #fdecea; color: #f44336; }
.status-completed { background: #e0e0e0; color: #616161; }
.status-expired { background: #ffebee; color: #d32f2f; }
.status-rejected { background: #fbe9e7; color: #610064; }

/* ACTION */
.action-group {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  justify-content: center;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
}

/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 15px;
}

.pagination button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  border-radius: 4px;
}

.pagination button.active {
  background: #5f6ec4;
  color: #fff;
}

/* BACK */
.back-btn {
  margin: 20px 0px 0px 20px;
  cursor: pointer;
  color: #5f6ec4;
}

.back-btn:hover {
  transform: translateX(-2px);
}


/* ANIMATION */
@keyframes slideIn {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
