<h2 mat-dialog-title>Create Booking</h2>

<div mat-dialog-content [formGroup]="form">

  <!-- ROOMS -->
  <mat-form-field appearance="outline" style="width:100%">
    <mat-label>Rooms</mat-label>

    <mat-select
      formControlName="meetingRoomIds"
      multiple
      (selectionChange)="onChange()"
    >
      <mat-option *ngFor="let r of rooms" [value]="r.id">
        {{ r.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- DATE -->
  <mat-form-field appearance="outline" style="width:100%">
    <mat-label>Date</mat-label>

    <input
      matInput
      [matDatepicker]="picker"
      formControlName="date"
      (dateChange)="onChange()"
    >

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- TIME -->
  <div class="time-row">

    <!-- START -->
    <mat-form-field appearance="outline">
      <mat-label>Start Time</mat-label>

      <mat-select formControlName="startTime">
        <mat-option *ngFor="let t of timeSlots"
                    [value]="t"
                    [disabled]="isTimeBooked(t)"
                    [class.booked-time]="isTimeBooked(t)">
          {{ t }}
        </mat-option>
      </mat-select>

    </mat-form-field>

    <!-- END -->
    <mat-form-field appearance="outline">
      <mat-label>End Time</mat-label>

      <mat-select formControlName="endTime">
        <mat-option *ngFor="let t of timeSlots"
                    [value]="t"
                    [disabled]="isTimeBooked(t)"
                    [class.booked-time]="isTimeBooked(t)">
          {{ t }}
        </mat-option>
      </mat-select>

    </mat-form-field>

  </div>

</div>

<div mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="close()">Cancel</button>

  <button mat-raised-button style="background-color: #5f6ec4; color: white;"
          (click)="submit()">
    Create
  </button>
</div>
