/* FORM WRAPPER */
.mat-mdc-dialog-content {
  min-width: 800px;   /* 🔥 form rộng hơn */
}

/* GRID FULL WIDTH */
.form-container {
  padding: 10px 5px;
}

/* TIME ROW (START + END SAME LINE) */
.time-row {
  display: flex;
  gap: 10px;
}

.booked-time {
  color: #d32f2f !important;
  background-color: #ffebee;
  font-weight: 500;
}

/* FORM FIELD FULL WIDTH */
mat-form-field {
  width: 100%;
}

/* ACTION BUTTONS */
.actions {
  padding: 15px 10px 5px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* BUTTON STYLE */
.mat-raised-button {
  transition: all 0.2s ease;
  color: white !important;
  background-color: #5f6ec4;
}
.mat-raised-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background-color: #4d5cb1 !important;
  color: white !important;
}
.mat-button{
  transition: all 0.2s ease;
}
.mat-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .time-row {
    flex-direction: column;
  }

  .mat-mdc-dialog-content {
    min-width: 100%;
  }
}
