.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 240px;
}

.logo {
  text-align: center;
  margin: 15px 0;
}

.content {
  padding: 20px;
  background: #f5f6fa;
  height: calc(100vh - 64px);
  overflow-y: auto;
}

.spacer {
  flex: 1;
}

.active {
  background: rgba(0, 0, 0, 0.1);
}
.btn-logout {
  transition: all 0.2s ease;
  margin-right: 50px;
}
.btn-logout :hover {
  transform: scale(1.2);
  transition: 0.2s;
}
