.container {
  max-width: 1100px;
  margin: 24px auto;
  padding: 16px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.title .sub {
  font-size: 13px;
  color: #888;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 16px;
  margin-bottom: 16px;
}

/* CARD */
.card {
  border-radius: 18px;
  padding: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  transition: 0.25s;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

/* TITLE */
mat-card-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

/* INFO ROW */
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-bottom: 6px;
  border-bottom: 1px solid #f0f0f0;
}

.row span {
  color: #888;
}

.row strong {
  color: #222;
}

/* CHIP */
mat-chip {
  font-weight: 500;
  text-transform: uppercase;
  width: 100px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;

}

/* BUTTON */
button[mat-raised-button] {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* MOBILE */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .header-right {
    width: 100%;
    justify-content: space-between;
  }
}
.status-chip {
  background: #fff !important;
  font-weight: 600;
}

.status-chip.booked {
  color: #004a94;
}

.status-chip.completed {
  color: #2e7d32;
}

.status-chip.cancelled {
  color: #c62828;
}
.mat-icon-button {
transition: all 0.2s ease;
color: #888;
}
.mat-icon-button:hover {
transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
