<h2 mat-dialog-title>Update Booking</h2>

<form [formGroup]="form" mat-dialog-content class="form-container">

  <!-- ROW 1: ROOM + DATE -->
  <div class="row">
    <mat-form-field appearance="outline" >
      <mat-label>Room</mat-label>
      <mat-select formControlName="meetingRoomId" (selectionChange)="onChange()">
        <mat-option *ngFor="let room of rooms" [value]="room.id">
          {{ room.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" (dateChange)="onChange()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <!-- ROW 2: START + END -->
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Start Time</mat-label>
      <mat-select formControlName="startTime">
        <mat-option *ngFor="let t of timeSlots"
                    [value]="t"
                    [disabled]="isTimeBooked(t)">
          {{ t }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>End Time</mat-label>
      <mat-select formControlName="endTime">
        <mat-option *ngFor="let t of timeSlots"
                    [value]="t"
                    [disabled]="isTimeBooked(t)">
          {{ t }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- ROW 3: STATUS -->
  <div class="row single">
    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let s of statuses" [value]="s">
          {{ s }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</form>

<div mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submit()">
    Update
  </button>
</div>
